- name: Install Java 17
  hosts: tomcat
  become: yes

  tasks:
    - name: Update apt cache (Ubuntu/Debian)
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"
      
    - name: Install Java 17 (Ubuntu/Debian)
      apt:
        name: openjdk-17-jdk
        state: present
      when: ansible_os_family == "Debian"

    - name: Install Java 17 (Amazon Linux/RedHat)
      yum:
        name: java-17-amazon-corretto
        state: present
      when: ansible_os_family == "RedHat"



