name: Build and Deploy WAR to Tomcat

on:
  push:
    branches:
      - main   # Trigger on pushes to main branch
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANSIBLE_HOST_KEY_CHECKING: "False"  # avoids SSH key prompt
      INVENTORY_FILE: infra/inventory.ini
      PLAYBOOK_FILE: infra/ansible-playbook/deploy-war.yml
      TOMCAT_USER: ec2-user
      TOMCAT_HOST: ${{ secrets.EC2_HOST }}
      TOMCAT_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

    steps:
    # 1. Checkout repository
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Set up Java
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    # 3. Build WAR using Maven
    
    - name: Build WAR
      run: mvn clean package

    - name: Upload WAR artifact 
      uses: actions/upload-artifact@v4
      with:
        name: votingapp-war
        path: target/*.war


  deploy: 
    runs-on: ubuntu-latest 
    needs: build 
    
    steps: 
    - name: Download WAR artifact 
      uses: actions/download-artifact@v4
      with:
        name: votingapp-war
        path: ./artifacts

    - name: Checkout infra repo 
      uses: actions/checkout@v3 
      with: 
        repository: Bobcharliee/VotingApp.git/infra
        path: infra

    # 4. Install Ansible
    - name: Install Ansible
      run: |
        sudo apt-get update
        sudo apt-get install -y ansible sshpass

    # 5. Set up SSH key for EC2
    - name: Configure SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > /home/runner/.ssh/ubuntu-access-key.pem
        chmod 600 /home/runner/.ssh/ubuntu-access-key.pem
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/known_hosts

    # 6. Run Ansible Playbook to deploy WAR
    - name: Deploy WAR to Tomcat
      run: |
        ansible-playbook -i $INVENTORY_FILE $PLAYBOOK_FILE -e "war_file=./artifacts/votingapp.war"
